<?xml version="1.0"?>
<config>
  <modules>
    <RD_Krumo>
      <version>0.1.0</version>
    </RD_Krumo>
  </modules>
  <frontend>
    <events>
      <controller_action_predispatch>
          <observers>
              <krumo>
                  <class>krumo/observer</class>
                  <method>loadKrumoLib</method>
                  <type>singleton</type>
              </krumo>
          </observers>
      </controller_action_predispatch>
    </events>
  </frontend>
  <global>
    <models>
        <krumo>
            <class>RD_Krumo_Model</class>
            <resourceModel>krumo_mysql4</resourceModel>
        </krumo>
        <krumo_mysql4>
            <class>RD_Krumo_Model_Mysql4</class>
            <entities>
                <krumo>
                    <table>krumo</table>
                </krumo>
            </entities>
        </krumo_mysql4>
    </models>
    <helpers>
      <krumo>
        <class>RD_Krumo_Helper</class>
      </krumo>
    </helpers>
  </global>
</config>